{% if discography %}
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Album</th>
        <th>Artyści</th>
      </tr>
    </thead>
    <tbody>
      {% for album in discography.albums %}
        <tr>
          <td>{{album.id}}</td>
          <td>
            <a href="{{path('album_show', {'id': album.id})}}">{{ album.name }}</a>
          </td>
          <td>
            <ul class="list-unstyled">
              {% for artist in album.artists %}
                <li>
                  <a href="{{path('artist_show', {'id':artist.id})}}">{{artist}}</a>
                </li>
                {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}