{% extends '::base.html.twig' %}

{% block body -%}
  <h3>{{entity}}</h3>
  {% if entity.albums %}
    <ul class="list-unstyled">
    {% for album in entity.albums %}
      <li>
        <a href="{{path('album_show', {'id': album.id})}}">{{album}}</a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  <ul class="list-unstyled">
    <li>
      <a href="{{ path('artist') }}">
        Wróć do listy
      </a>
    </li>
    <li>
      <a href="{{ path('artist_edit', { 'id': entity.id }) }}">
        Edytuj
      </a>
    </li>
    <li>{{ form(delete_form) }}</li>
  </ul>
{% endblock %}
