{% extends '::base.html.twig' %}

{% block body -%}
  <h3>Album {{entity.name}}</h3>
  {% if entity.artists|length > 0 %}
    <ul class="list-unstyled">
      {% for artist in entity.artists %}
        <li>
          <a href="{{path('artist_show', {'id':artist.id})}}">{{artist}}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <ul class="list-unstyled">
    <li>
      <a href="{{ path('album') }}">
        Wróć do listy
      </a>
    </li>
    <li>
      <a href="{{ path('album_edit', { 'id': entity.id }) }}">
        Edytuj
      </a>
    </li>
    <li>{{ form(delete_form) }}</li>
  </ul>
{% endblock %}
